*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

:root {
    --cor-destaque: #e94343;
    --cor-principal: #23252f;
    --cor-secundaria: #1a1c23;
    --cor-roxo-destaque:#6d59a8;
    --color-secondary: #3b3a51;
    --color-accent: #E15120;
    --color-highlight: #ffd166;
    --color-inverted: #ffffff;
    --color-inverted-muted: #dee7ea;
    --color-code-1: #ffd166;
    --color-code-2: #ef476f;
    --color-code-3: #9f7aea;
    --color-code-4: #e53e3e;
  }
/*Estilo Geral*/

html {
    scroll-behavior: smooth; /* Adiciona a rolagem suave em todo o documento */
}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-principal);
}

header{
    position: fixed;
    height: 10vh;
    background-color: var(--cor-principal);
    width: 100%;
    box-shadow: 0px 0px 6px .05px;
}

header nav {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
}

header nav ul{
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: center;
}

header nav ul li{
    padding: 0 .6em;
    transition: .13s;
}

header nav ul li a{
    font-size: 1.2em;
    padding: 0 6px;
}

header nav ul li a:hover{
    border-bottom: var(--color-code-3) solid 2px;
}

header nav ul li:hover{
    transform: scale(1.1);
}

header button{
    position: relative;
    right: 1.5em;
}


.logo{
    display: flex;
    margin-left: 2em;
    min-width: 260px;
    align-items: center;
    transition: .13s;
}

.logo:hover{
    transform: scale(1.1);
}


.logo h1{
    color: var(--color-inverted);
    margin-left: .2em;
    font-size: 1.8em;
}


.btn:hover{
    transform: scale(1.13);
}

/*banner topo*/
#banner-topo{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, var(--color-secondary), var(--cor-principal), var(--cor-secundaria), black);
    background-size: 300% 300%;
    animation: colors 5s ease infinite; 
}

a{
    text-decoration: none;
    color: var(--color-inverted);
}


#banner-topo img{
    width: 12em; 
    height: 12em;
    border-radius: 50%;
    border: solid 1px var(--cor-roxo-destaque);
    box-shadow: 0px 0px 12px .5px var(--color-code-3);
    margin-top: 3em;
    margin-bottom: 1.5em;
    transition: .3s;
}

#banner-topo img:hover{
    transform: scale(1.1);
}


#banner-topo h2{
    color: var(--color-inverted);
    font-size: 3em;
    padding: 0 1.2em;
    text-align: center;
    text-shadow: #3211eb81 1.3px 1.3px 1.3px;
    font-weight: 400;
}

#banner-topo p{
    color: var(--color-inverted);
    font-size: 1.6em;
    text-shadow: #3211eb81 1.1px 1.1px 1.1px;
    padding: 0 1.2em ;
    text-align: center;
    font-weight: 300;
}

#banner-topo .botoes{
    display: flex;
    padding: 0 1.2em;
    margin-top: 3em;
}
 .btn{
    padding: .3em 1.6em;
    margin: auto .5em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 6px;
    border: solid 1px var(--color-code-3);
    color: var(--color-code-3);
    background-color: var(--cor-principal);
    transition: .15s;
}

#banner-topo .botoes .btn .bi{
    margin-right: 6px;
}

@keyframes colors{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.curriculo{
    background-color: #0c0c0ce1;
}

/*Sobre*/

#about{
    display: flex;
    width: 100vw;
    height: 60vh;
    background-color: var(--cor-principal);
    border-top: #dee7ea2a solid 2px;
    justify-content: center;
    scroll-padding: 20px;
}

#about .box-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    margin-top: 3em;
    width: 70%;
}

#about .box-about h2{
    color: var(--color-inverted);
    font-size: 2.2em;
}

#about .box-about p{
    color: var(--color-inverted);
    font-size: 1.3em;
    margin-top: 30px;
    padding: 0 3em;
    font-weight: 300;
    text-align: justify;
    text-indent: 40px;
}


/*Estilos - Projetos*/

#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-inverted);
}


  /* Estilos para janela modal */
  .modal {
    display: none; /* Esconde a janela modal inicialmente */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .modal-content {
    background-color: #fff;
    min-width: 360px;
    width: 45%;
    margin: 9em auto;
    padding: 26px;
    text-align: center;
    font-size: 20px;
    background-color: #140441d2;
    color: var(--color-inverted);
    border-radius: 12px;
    border: solid 2px #ffffff;
  }
  
  #closeModalBtn {
    margin-top: 18px;
    padding: .3em 2em;
    font-size: 20px;
    color: var(--color-inverted);
  }
  
  /* Estilos adicionais para a janela modal */